{% if page.video_url %}
 <div class="responsive-video-container">
	<iframe sandbox="allow-same-origin allow-scripts allow-popups" src="{{ include.video_url }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}
