---
title: Calendrier
layout: calendar
permalink: calendrier/
ref: calendrier
lang: fr
---

<section class="diagonal hero">
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		<h2 class="editable">Calendrier</h2>
	</div>
</section>

<section class="diagonal">
  	<div id='calendar'></div>
</section>

<script>
  // Tuto : https://fullcalendar.io/
  // https://nouvelle-techno.fr/actualites/live-coding-utilisation-de-fullcalendar
  // https://www.raymondcamden.com/2017/02/24/an-example-of-a-static-site-with-a-dynamic-calendar
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var defaultView = 'dayGridMonth';
    if ( window.screen.width < 950) {
    	defaultView = 'listYear';
    }
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: "auto", // https://fullcalendar.io/docs/height
      plugins: [ 'list', 'dayGrid' ],
      locale: 'fr',
      firstDay: 1, // https://fullcalendar.io/docs/firstDay
      defaultView: defaultView,
      buttonText: {
        today:    'Aujourd\'hui',
        month:    'Mois',
        week:     'Semaine',
        day:      'Jour',
        list:     'Liste'
    },
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'dayGridMonth,listYear'
      },
      navLinks: true, // can click day/week names to navigate views
      eventLimit: true, // allow "more" link when too many events
      events: [ {% include events.js %}
      ]
    });
    calendar.render();
  });

</script>
