---
title: InterHop
layout: default
permalink: /
ref: index
lang: fr
---

<section class="diagonal hero">
	<div class="container">
		<h2 class="editable">Pour des communs en santé !</h2>
		<p class="subtext editable">
			InterHop.org promeut et développe l'utilisation des logiciels libres et open-sources pour la santé.
		</p>
		<p class="subtext editable">
			InterHop.org regroupe des militants des logiciels libres et d’une utilisation auto-gérée des données de santé à l'échelle locale.
		</p>
		<p class="subtext editable">Retrouve notre lettre d'information sur l'actualité "techno-juridique".</p>
		<p><a class="button alt" href="{{ site.baseurl }}/nous">Inscris toi</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Nos Projets</h3>
			<p class="editable">Hébergement décentralisé, vidéo-conférence, stockage de fichiers sécurisés, services juridiques, accès au droit.</p>

		<!--
			<p class="editable"><a href="{{ site.baseurl }}/projets/">Voir toutes nos projets &rarr;</a></p>
		-->
		</div>
		<div>
			<ul class="image-grid">
				{% assign _projets = site.projets | where: "lang", "fr" | where: "type", "main" | sort: 'order' %}
				{% for projet in _projets limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ projet.url }}"><img src="{% include relative-src.html src=projet.image_path %}" class="screenshot">
					<div class="details">
							<div class="position">{{ projet.subtitle }}</div>
					</div>
					</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div class="hiddenOnMobile">
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/interhop_logo_deux.png" width="350"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Comment nous aider ?</h3>
			<p class="editable">
				Tu es soignant.e.s ou patient.e.s ? Utilise nos logiciels sécurisés E-Santé. Parles-en autour de toi !
			</p>
			<p><a style="text-align: center;" class="button alt" type="blue" href="{{ site.baseurl }}/projets/esante/">Nos logiciels E-Santé</a></p>
			<p class="editable">
				Nous avons besoin de dons pour continuer nos projets. Si tu veux nous aider c'est ici !
			</p>
			<p><a style="text-align: center;" class="button alt" type="blue" href="{{ site.baseurl }}/dons/">Dons !</a></p>

		</div>
	</div>
</section>
